# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala

Objectives:


List popular languages for Data Science:
- Python
- R
- Scala

Some of the commonly used libraries used by Data Scientists include:

1.Panda
2.scikit learn
3.Pytorch

|Data Science Tools|
|------------------|
|Tensorflow|
|Apache Spark|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python.

This a simple arithmetic expression to mutiply then add integers.

In [7]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60.

In [8]:
minutes = 200
hours = minutes/60
print(hours)

3.3333333333333335

## Author
Ekta